{% extends 'base.html.twig' %}
{% block title %}Flachs mit Symfony{% endblock %}
{% block body %}
<h1>
    der klub: kritische konversationen ohne rücksicht auf ethik einer multikulturellen gemeinschaft,lol
</h1>
{% endblock %}
